.faq-wrapper{
  color: #535353;

  .title{
    font-family: $gotic-font-regular;
    color: #e27500;
    margin-top: 2em;


    span:nth-child(1){
      display: block;
    }
    span:nth-child(2){
      display: none;
    }
  }

  .customers-wrapper{
    margin-top: 1em;
    p{
      margin: 0;
      font-weight: 100;
      font-size: 0.9em;

      a{
        color: #535353;
        text-decoration: underline;
      }
    }
  }

  .answer-wrapper{
      overflow: scroll;
      max-height: 32em;
      margin-top: 2em;

      .nothing-found{
        font-size: 1.4em;
        font-weight: 600;

      }

      .col-md-12{
        background-color: #FFF;
        padding: 1em 15px;
        margin: 15px;
        width: calc(100% - 15px);
        -webkit-box-shadow: 0px 0px 23px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 23px -7px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 23px -7px rgba(0,0,0,0.75);


        h3{
          font-size: 1.4em;
          font-weight: 600;
        }

        p{
          margin-left: 1em;
        }
      }
  }

  #faqLoader{
    display: none;
  }
}

@include mquery(tablet){
  .faq-wrapper{
    width: 560px;
    .title{
      span:nth-child(1){
        display: none;
      }
      span:nth-child(2){
        display: block;
      }
    }

    .form-group{
      .break-icon{
        display: inline-block;
      }
    }

  }
};

@include mquery(desktop){
  .faq-wrapper{
    width: 720px;
  }
}

@media (min-width: 900px) {
  .faq-wrapper{
    width: 800px;
  }
}

@include mquery(b-desktop){
  .faq-wrapper{
    width: 970px;
  }
};
