//============================================================
// Home (Mobile)
//============================================================
.home{
  .description{
    margin-top: 1.5em;
    color: #cecece;

    span{
      display: none;
    }
  }

  .catagories{
    margin-top: 3em;

    // NAV ICONS LOOP
    $h_animal_array: $home-icons-dog-icon $home-icons-cat-icon $home-icons-fish-icon $home-icons-bird-icon $home-icons-small-animals-icon;
    $h_animal_c_array: $home-icons-dog-icon-c $home-icons-cat-icon-c $home-icons-fish-icon-c $home-icons-bird-icon-c $home-icons-small-animals-icon-c;
    $h_animal_color_array: $dog-color $cat-color $fish-color $bird-color $small-animals-color;

    @each $current-animal in $h_animal_array {
        $i: index($h_animal_array, $current-animal);

        .col-md-2:nth-child( #{$i} ) > a .icon {
          @include sprite( nth($h_animal_c_array, $i) );
        }

        .col-md-2:nth-child( #{$i} ) > a:hover .icon {
          @include sprite( nth($h_animal_array, $i) );
        }

    }

    .col-md-2{
      width: 50%;
      float: left;
      margin-bottom: 4em;

      a{

        text-align: center;
        color: #FFF;
        font-family: $gotic-font-light;
        font-size: 1.3em;
        text-transform: uppercase;
        text-decoration: none;

        .icon{
          left: 50%;
          position: relative;
          @include translate(translateX(-50%));
        }

        h4{
          height: 64px;
          font-size: 6em;
          line-height: 0.7em;
        }

        h4:hover{
          color: #bbb;
        }

        p{
          margin-bottom: 0;
          color: #cecece;
        }

        p:hover{
          text-decoration: none;
        }
      }
    }

    .col-md-2:nth-child(2n-1){
        border-right: solid 1px rgba(255,255,255,0.3);
    }
  }

}

@include mquery(tablet) {
  .home{
    padding-left: 50px;
    padding-right: 50px;

    .container{
      width: 700px;
    }

    .description{
      margin-top: 2.5em;
      text-align: center;
      font-size: 0.85em;

      span{
        display: inline;
      }
    }

    .catagories{
      .col-md-2{
        width: 100/12*2*1%;
        border-right: solid 1px rgba(255,255,255,0.3);
        max-height: 64px;

        a{
          .icon{
            zoom: 0.6;
            -moz-transform:scale(0.6);
            -moz-transform-origin: 0 0;
          }

          p{
            margin-top: 0.5em;
            font-size: 0.7em;
          }

          h4{
            height: 33px;
            font-size: 3em;
            font-weight: 100;
            line-height: 0.7em;
          }

        }
      }

      .col-md-2:nth-child(6){
        border: none;
      }
    }
  }
};

@include mquery(desktop) {
  .home{
    padding-left: 50px;
    padding-right: 50px;

    .description{
      padding-left: 120px;
      padding-right: 120px;
    }

    .catagories{
      .col-md-2{
        a{
          .icon{
            zoom: 0.8;
            -moz-transform:scale(0.8);
            -moz-transform-origin: 0 0;
          }

          p{
            margin-top: 0.5em;
            font-size: 0.8em;
          }

          h4{
            height: 46px;
            font-size: 4em;
          }

        }
      }

      .col-md-2:nth-child(6){
        border: none;
      }
    }

    
  }
};

@include mquery(b-desktop){
  .hot-items{
    .gallery-wrapper{
      .row{
        .item-wrapper{
          a{
            width: 100%;

            .img-wrapper{
              max-height: initial !important;
            }
          }
        }
      }
    }
  }
};
