.product-show{
  .logo-wrapper{
    text-align: center;
    img{
      width: 15em;
      margin-top: 5em;
      margin-bottom: 2em;
    }
  }

  .details-wrapper{
    .title{
      font-family: $gotic-font-regular;
    }

    margin-bottom: 2em;
    .mobile-header{
      .price{
        font-weight: 300;
      }
    }

    .breadcrumbs-top{
      margin-bottom: 2em;
      padding-left: 15px;
      padding-right: 15px;
      display: block;
    }

    .breadcrumbs-2{
      display: none;
    }

    .images{
      .row{
        border: solid 1px #7f7f7f;
        margin: 0;
        background-color: #565656;

        .col-xs-12, .col-xs-4{
          padding: 5px;
        }

        .col-xs-4{
          padding-top: 0;
          position: relative;

          p{
            margin: 0;
            margin-top: 0.2em;
            font-size: 0.7em;
            font-weight: 300;
          }

          .img-wrapper{
            position: relative;
            cursor: pointer;
          }

          .img-wrapper:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);
          }
        }

        .col-xs-4.active .img-wrapper:after{
          display: none;
        }
        .col-xs-4.active img{
          border: solid 1px #FFF;
        }
      }

      img{
        width: 100%;
      }
    }

    .text{
      .price, .title{
        display: none;
      }

      .colors{
        position: relative;

        div{
          width: 13px;
          height: 13px;
          border: solid 1px #FFF;
          background-color: #000;
          margin-right: 5px;
          margin-top: 8px;
          border-radius: 100px;
          display: inline-block;
        }

        .color-blue{
          background-color: $item-blue;
        }

        .color-white{
          background-color: $item-white;
        }

        .color-black{
          background-color: $item-black;
        }
      }

      .description{
        margin-bottom: 2em;
        p{
          font-weight: 100;
          font-size: 0.8em;
        }
      }
    }

  }

  .specs-wrapper{
    .col-md-12{
      border: solid 1px #717171;
      margin: 0 15px 2em 15px;

      h3{
        font-weight: 400;
        font-size: 1.4em;
      }
      h4{
        font-weight: 300;
        font-size: 1em;
        text-transform: uppercase;
      }
      ul{
        list-style: none;
        padding-left: 0.8em;
      }
    }

  }

  .hot-items{
    .gallery-wrapper{
      .scroll-next, .scroll-prev{
        display: none;
        position: absolute;
        top: 50%;
        @include translate(translateY(-50%));
        background-color: #FFF;
        border: solid 3px #999;
        width: 2em;
        height: 2em;
        border-radius: 100px;
        z-index: 10;
        font-size: 1em;
        margin: 0;
        color: #000;
        text-align: center;
        line-height: 1.5em;
        cursor: pointer;
      }
      .scroll-next{
        right: 0;
        margin-right: 1.3em;
      }
      .scroll-prev{
        left: 0;
        margin-left: 1.3em;
      }
    }
  }

  .questions-wrapper{
    .col-md-12{
      margin: 0 15px;
      background-color: #717171;
      padding: 1em;
      margin-bottom: 0.5em;
      cursor: pointer;

      .btnToggle{
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #bbb;
        position: absolute;
        right: 1em;
        margin-top: 0.5em;
      }

      .btnToggle.open{
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #bbb;
        border-bottom: none;
      }

      h3{
        margin: 0 0 0.4em 0;
        font-size: 1.3em;
        font-weight: 700;
      }

      p{
        margin: 0 0 10px;
        margin-left: 1em;
        font-size: 0.8em;
        display: none;
      }
    }
  }
}

@include mquery(tablet){
  .product-show{
    padding-left: 50px;
    padding-right: 50px;

    .details-wrapper{
      .mobile-header{
        display: none;
      }

      .text{
        .price, .title{
          display: block;
        }

        .title{
          font-size: 1.5em;
          margin-top: 1.2em;
        }

        .price{
          margin-bottom: 1em;
        }

        .colors{
          position: absolute;
          top: 0;
          right: 15px;
        }
      }

    }

    .specs-wrapper{
      .col-md-12{
        ul{
          li{
            display: inline-block;
            margin-right: 2em;
          }
        }
      }

    }
  }
};

@include mquery(desktop){
  .product-show{
    padding-left: 50px;
    padding-right: 50px;


    .details-wrapper{
      .text{
        .colors{
          position: relative;
          right: 0;
        }
      }

    }

    .hot-items{

      .gallery-wrapper{
        overflow-x: scroll;
        .scroll-next, .scroll-prev{
          display: inline;
        }
        .item-wrapper{
          padding: 4px;
          padding-bottom: 0;
          a{
            .name, .price{
              display: none;
            }
          }
        }
      }

    }

    .questions-wrapper, .specs-wrapper{
      .col-md-12{
        width: calc(100% - 30px);
      }
    }
  }
};

@media (min-width: 992px){
  .product-show{
    .details-wrapper{
      .breadcrumbs-top{
        display: none;
      }
      .breadcrumbs-2{
        display: block;
      }
    }
  }
}
