.product-index{


  #title{
    font-family: $gotic-font-regular;
    text-transform: uppercase;
    font-size: 2em;
  }

  .breadcrumbs{
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .filter-wrapper{
    margin-bottom: 3em;
    position: relative;
    padding-bottom: 2em;

    .line-break{
      width: 100%;
      height: 1px;
      background-color: #bbb;
      position: absolute;
      bottom: 0;
    }

    .filterToggle{
      cursor: pointer;
      p{
        margin: 0;
        display: inline-block;
      }
      .btnToggle{
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        display: inline-block;
        border-left: 6px solid #bbb;
        margin-left: 2em;
        position: absolute;
        top: 50%;
        @include translate(translateY(-50%));
      }

      .btnToggle.open{
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #bbb;
        border-bottom: none;
      }
    }

    .filter-controls{
      display: none;
      margin-bottom: 4em;

      .checkbox{
        .wrapper{
          width: 20%;
          min-width: 7em;
          margin-bottom: 1em;
          float: left;
          position: relative;
        }
        label{
          margin-left: 2em;
          padding-left: 2em;
          z-index: 100;
          position: relative;
        }
        input[type=radio]{
          position: absolute;
          visibility: hidden;
        }

        .check{
          display: block;
          position: absolute;
          border: 2px solid #9a9a9a;
          background-color: #FFF;
          height: 20px;
          width: 20px;
          top: 0;
          left: 20px;
        	z-index: 5;
        }

        .check:before{
          display: block;
          position: absolute;
          content: '';
          height: 10px;
          width: 10px;
          top: 3px;
          left: 3px;
          margin: auto;
        }

        input[type=radio]:checked ~ .check:before{
          background: #9a9a9a;
        }
      }

      .slider{
        width: 100%;

        .slider-track{
          height: 3px;
          margin-top: 0;
          @include translate(translateY(-50%));

          .slider-selection{
            background-color: #9a9a9a;
            background-image: none;
          }

        }

        .slider-handle{
          background-color: #FFF;
          background-image: none;
        }
      }
      .min-max-wrapper{
        text-align: center;
        margin-top: 1em;
        input{
          padding: 0.5em 1em;
          border: solid 2px #999;
          width: 40%;
          float: left;
          color: #000;
        }

        .maxValue{
          float: right;
        }

      }
    }
  }

  .product-wrapper{
    margin: 0;
    .hot-items{

      .gallery-wrapper{
        overflow: visible;

        .row{
          margin-right: -7px;
          background-color: transparent;
          border: none;
          white-space: normal;

          .item-wrapper{
            width: calc(100% - 4px);
            margin-right: 0;
            background-color: #565656;
            border: solid 1px #717171;
            margin-top: 1em;


            a{

              height: auto;
              width: 100%;
              .link-overlay{
                .information-icon{
                  zoom: 0.4;
                  -moz-transform:scale(0.4);
                  -moz-transform-origin: 0 0;

                }
              }

              .img-wrapper{
                width: 100%;
                max-height: 11em;
                overflow: hidden;
                position: relative;
                max-height: 45vw;

                img{
                  height: auto;
                  width: 100%;
                }

                .colors{
                  position: absolute;

                  *{
                    width: 13px;
                    height: 13px;
                    border: solid 1px #FFF;
                    background-color: #000;
                    margin-left: 5px;
                    margin-top: 8px;
                    float: left;
                    border-radius: 100px;
                  }

                  .color-blue{
                    background-color: $item-blue;
                  }

                  .color-white{
                    background-color: $item-white;
                  }

                  .color-black{
                    background-color: $item-black;
                  }
                }

                .img-count{
                  display: none;
                }
              }

              .name, .price{
                display: inline-block;
                color: #fff;
                font-size: 0.9em;
                margin: 0.5em 0 0 0;
              }

              .name{
                float: left;
              }

              .price{
                float: right;
              }
            }
          }


          .item-wrapper-multiple-images{

            width: calc(100% - 15px);
            margin-right: 10px;
            margin-left: 5px;
            margin-left: 0;

            .colors{
              display: none;
            }

            .img-count{
              display: inline-block !important;
              position: absolute;
              p{
                background: #FFF;
                border-radius: 100px;
                padding: 0.7em;
                line-height: 0.6em;
                margin: 0.5em;
                color: #000;
              }
            }
          }

          .item-wrapper-multiple-images:before, .item-wrapper-multiple-images:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
          .item-wrapper-multiple-images:before{
            @include translate(translate(5px , -4px));
            left: 0;
            border-top: solid 2px #818181;
            border-right: solid 3px #818181;
            z-index: -1;
          }

          .item-wrapper-multiple-images:after{
            @include translate(translate(10px , -8px));
            left: 0;
            border-top: solid 2px #cfcfcf;
            border-right: solid 3px #cfcfcf;
            z-index: -2;
          }

          .item-wrapper:nth-child(3){
            display: none;
          }
        }
      }
    }
  }
}

@include mquery(tablet){
  .product-index{
    padding-left: 50px;
    padding-right: 50px;

    .product-wrapper{
      .hot-items{
        .gallery-wrapper{
          .row{
            .item-wrapper{
                width: calc(33.3333333333% - 4px);
            }

            .item-wrapper-multiple-images{
              width: calc(33.33333333333% - 15px);
            }
          }
        }
      }
    }



  }

};
