.search-wrapper{
  color: #535353;

  .search-field{
    margin-top: 7em;

    .form-control{

      @include placeholder{
        color: #e27500;
        font-size: 1.5em;
        font-weight: 600;
      };


    }

    .break-icon{
        margin-left: 64em;
    }
  }

  .customers-wrapper{
    margin-top: 1em;
    color: #535353;
    p{
      margin: 0;
      font-weight: 100;
      font-size: 0.9em;

      a{
        color: #535353;
        text-decoration: underline;
      }
    }
  }
}

@include mquery(tablet){
  .search-wrapper{
    width: 560px;
  }
};

@include mquery(desktop){
  .search-wrapper{
    width: 720px;
  }
}

@media (min-width: 900px) {
  .search-wrapper{
    width: 800px;
  }
}

@include mquery(b-desktop){
  .search-wrapper{
    width: 970px;
  }
};
