//============================================================
// Transforms
//============================================================

@mixin rotate($arguments) {
  -webkit-transform: rotate($arguments);
      -ms-transform: rotate($arguments); // IE9
          transform: rotate($arguments);
}
@mixin rotateAndSkew($rotateArguments, $skewArguments) {
  -webkit-transform: rotate($rotateArguments) skew($skewArguments);
      -ms-transform: rotate($rotateArguments) skew($skewArguments); // IE9
          transform: rotate($rotateArguments) skew($skewArguments);
}

@mixin transform-origin($arguments) {
  -webkit-transform-origin: $arguments;
      -ms-transform-origin: $arguments; // IE9
          transform-origin: $arguments;
}

@mixin translate($arguments) {
  -webkit-transform: $arguments;
      -ms-transform: $arguments; // IE9
          transform: $arguments;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

//============================================================
// Animations
//============================================================

@mixin transition($arguments) {
    -webkit-transition: $arguments;
            transition: $arguments;
}

//============================================================
// Media Queries
//============================================================

@mixin mquery($size) {
  @if $size == tablet {
    @media (min-width: 40em) {
      @content;
    }
  }

  @elseif $size == desktop {
    @media (min-width: 50em) {
      @content;
    }
  }

  @elseif $size == b-desktop {
    @media (min-width: 70em) {
      @content;
    }
  }

}
