$nav-bkg-color: #323232;
$nav-menu-bkg-color: #252525;

$gotic-font-light : 'Choplin-ExtraLight-DEMO', serif;
$gotic-font-regular : 'Choplin-Medium-DEMO', serif;

//============================================================
// color
//============================================================

$nav-font-color: #a2a2a2;

$dog-color: #ff6f9e;
$cat-color: #8787ff;
$fish-color: #ffb93f;
$bird-color: #7bff81;
$small-animals-color: #7be5ff;

$item-black: #282828;
$item-white: #FFF;
$item-blue: #2d4aac;

//============================================================
// widths
//============================================================

$nav-bar-width: 4em;
$icon-width: 32px;
