// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-slider/dist/css/bootstrap-slider";

// Sprites
@import "sprites/sprite";

// Fonts
@import "fonts/choplin";

// Helpers
@import "helpers/variables";
@import "helpers/mixins";

// Modules
@import "modules/nav";
@import "modules/header";
@import "modules/newsletter";
@import "modules/modal";
@import "modules/search-field";
@import "modules/gallery.scss";
@import "modules/breadcrumbs";
@import "modules/cookies";

// Pages
@import "pages/home";
@import "pages/faq";
@import "pages/search";
@import "pages/product-detail";
@import "pages/product-index";

body{
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Open Sans', sans-serif;
  background-color: #454545;
  color: #FFF;
}

button{
  outline: none;
}


@include mquery(tablet){
  .main-content{
    margin-left: 4em;
  }
};

@media (min-width: 768px){
  .container {
      width: calc(750px - 4em);
  }
}
@media (min-width: 992px){
  .container {
      width: calc(970px - 4em);
  }
}
