$sprite-margin: (37 - 29) / 2;

$nav-icons-search-icon: -0px -0px 29px 29px;
$nav-icons-faq-icon: -0px -37px 20px 33px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: (nth($sprite, 1) - $sprite-margin);
  $sprite-offset-y: (nth($sprite, 2) - $sprite-margin);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: inline-block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  line-height: sprite-height($sprite);
  padding: 1px;
  background-origin: content-box;
  overflow: visible;
}

.icon {
  background-image: url('../images/sprite.png');
  background-size: 37px 78px;
}
