.breadcrumbs{
  height: 20px;

  .logo, ul{
    display: inline-block;
    float: left;
    top: 50%;
    position: relative;
    @include translate(translateY(-50%));
    margin: 0;
  }

  .logo{
    margin-right: 0.4em;
    line-height: 0;
  }

  .logo a{
    display: inline-block;
    bottom: 0;
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    font-family: $gotic-font-light ;
    font-size: 0.8em;
    text-decoration: none;
  }

  ul{
    list-style: none;
    padding: 0;
    max-width: 23em;

    li{
      background-color: #323232;
      display: inline-block;
      padding: 0.1em 0.5em 0.1em 0.5em;
      position: relative;
      height: 22px;
      margin-right: 10px;
      float: left;

      a{
        color: #FFF;
        font-size: 0.9em;
        font-weight: 100;
      }
      a:hover{
        text-decoration: none;
      }
    }

    li.animal:before{
      content: '';
      position: absolute;;
      width: 6px;
      height: 6px;
      background-color: $dog-color;
      border-radius: 100px;
      left: -1px;
      z-index: 100;
      top: 50%;

      @include translate(translateY(-50%));
    }

    li.animal.dog:before{
      background-color: $dog-color;
    }
    li.animal.fish:before{
      background-color: $fish-color;
    }
    li.animal.cat:before{
      background-color: $cat-color;
    }
    li.animal.bird:before{
      background-color: $bird-color;
    }
    li.animal:before{
      background-color: $small-animals-color;
    }

    li.animal.bird:hover{
      background-color: $bird-color;
    }
    li.animal.bird:hover:after{
      border-right: 9px solid $bird-color;
    }
    li.animal.cat:hover{
      background-color: $cat-color;
    }
    li.animal.cat:hover:after{
      border-right: 9px solid $cat-color;
    }
    li.animal.dog:hover{
      background-color: $dog-color;
    }
    li.animal.dog:hover:after{
      border-right: 9px solid $dog-color;
    }
    li.animal.fish:hover{
      background-color: $fish-color;
    }
    li.animal.fish:hover:after{
      border-right: 9px solid $fish-color;
    }
    li.animal:hover{
      background-color: $small-animals-color;
    }
    li.animal:hover:after{
      border-right: 9px solid $small-animals-color;
    }

    li.animal{
      padding: 0.1em 0.5em 0.1em 0.8em;
    }

    li:after{
      content: '';
      position: absolute;
      top: 0;
      left: -9px;
      border-radius: -22px;
      border-right: 9px solid #323232;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
    }
  }
}
