.cookie-consent{
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: #f7eade;
  color: #000;
  font-weight: 300;

  left: 50%;
  width: 100%;
  @include translate(translateX(-50%));

  .cookie-consent__message:before{
    content: 'Cookies';
    position: relative;
    color: #e27500;
    font-weight: 900;
    font-size: 2em;
    display: block;
    font-family: $gotic-font-regular;
  }

  .js-cookie-consent-agree{
    display: block;
    width: 100%;
    padding: 1em;
    border: none;
    background-color: #e27500;
    color: #FFF;
    font-weight: 900;
    margin-top: 1em;
  }
}

@include mquery(tablet){
  .cookie-consent{
    top: 30%;
    left: 50%;
    @include translate(translate(-50%, -50%));
      max-width: 26em;
  }
};
