.hot-items{
  margin-bottom: 4em;

  .title{
    font-size: 1.7em;
    text-transform: uppercase;
    font-family: $gotic-font-regular;
  }

  .gallery-wrapper{
    position: relative;;
    overflow: hidden;

    .row{
      margin-left: -7px;
      margin-right: -20px;
      background-color: #565656;
      border: solid 1px #717171;
      white-space: nowrap;
      overflow-y: scroll;
      width: auto;

      .item-wrapper{
        width: 30%;
        padding: 8px;
        margin-right: -10px;
        float: none;
        display: inline-block;
        position: relative;

        a{
          position: relative;
          display: inline-block;
          height: 100%;


          .link-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255,111,158, 0.8);
            opacity: 0;

            @include transition(all 0.2s);

            .information-icon{
              @include sprite($home-icons-information);
              left: 50%;
              top: 50%;
              position: relative;
              @include translate(translate(-50%, -50%));

              zoom: 0.4;
              -moz-transform:scale(0.4);
              -moz-transform-origin: 0 0;

            }
          }


          img{
            width: 100%;
          }

          .name, .price, .img-count{
            display: none;
          }

          .name{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 6em;
          }
        }

        a:hover .link-overlay {
          opacity: 1;
        }
      }
    }
  }

  .visit-store{
    font-family: "Choplin-ExtraLight-DEMO", serif;
    font-size: 1.1em;
    color: #FFF;
    text-decoration: underline;
    top: 1em;
    position: relative;
  }
}


@include mquery(tablet) {
  .hot-items{

    .gallery-wrapper{
      overflow: visible;

      .row{
        margin-right: -7px;
        background-color: transparent;
        border: none;

        .item-wrapper{
          width: calc(33.3333333333% - 4px);
          margin-right: 0;
          background-color: #565656;
          border: solid 1px #717171;

          a{
            .link-overlay{
              .information-icon{
                zoom: 0.4;
                -moz-transform:scale(0.4);
                -moz-transform-origin: 0 0;

              }
            }

            .img-wrapper{
              width: 100%;
              max-height: 11em;
              overflow: hidden;
              position: relative;

              .colors{
                position: absolute;

                *{
                  width: 13px;
                  height: 13px;
                  border: solid 1px #FFF;
                  background-color: #000;
                  margin-left: 5px;
                  margin-top: 8px;
                  float: left;
                  border-radius: 100px;
                }

                .color-blue{
                  background-color: $item-blue;
                }

                .color-white{
                  background-color: $item-white;
                }

                .color-black{
                  background-color: $item-black;
                }
              }

              .img-count{
                display: none;
              }
            }

            .name, .price{
              display: inline-block;
              color: #fff;
              font-size: 0.9em;
              margin: 0.5em 0 0 0;
            }

            .name{
              float: left;
            }

            .price{
              float: right;
            }
          }
        }


        .item-wrapper-multiple-images{
          width: calc(33.33333333333% - 15px);
          margin-right: 10px;
          margin-left: 5px;

          .colors{
            display: none;
          }

          .img-count{
            display: inline-block !important;
            position: absolute;
            p{
              background: #FFF;
              border-radius: 100px;
              padding: 0.7em;
              line-height: 0.6em;
              margin: 0.5em;
              color: #000;
            }
          }
        }

        .item-wrapper-multiple-images:before, .item-wrapper-multiple-images:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .item-wrapper-multiple-images:before{
          @include translate(translate(5px , -4px));
          left: 0;
          border-top: solid 2px #818181;
          border-right: solid 3px #818181;
          z-index: -1;
        }

        .item-wrapper-multiple-images:after{
          @include translate(translate(10px , -8px));
          left: 0;
          border-top: solid 2px #cfcfcf;
          border-right: solid 3px #cfcfcf;
          z-index: -2;
        }

        .item-wrapper:nth-child(3){
          display: none;
        }
      }
    }
    .col-xs-12{
      text-align: right;
    }
  }
};

@include mquery(desktop) {
  .hot-items{
    .gallery-wrapper{

      .row{
        .item-wrapper{
          width: calc(25% - 4px);
        }

        .item-wrapper-multiple-images{
          width: calc(25% - 15px);
        }

        .item-wrapper:nth-child(3){
          display: inline-block;
        }
      }
    }
  }
};

@include mquery(b-desktop){
  .hot-items{
    .gallery-wrapper{
      .row{
        .item-wrapper{
          a{
            width: 100%;

            .img-wrapper{
              max-height: initial !important;
            }
          }
        }
      }
    }
  }
};
