//============================================================
// Page Header
//============================================================

.page-header{
  height: 60vw;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  .carousel{
    height: 100%;

    .carousel-inner{
      height: 100%;

      .item{
        height: 100%;
        overflow: hidden;

        img{
          height: 120%;
          max-width: initial;
          left: 40%;
          top: 50%;
          position: relative;

          @include translate(translate(-50%, -50%));
        }
      }
    }
  }

  .progress{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    border: none;
    background-color: #FFF;
    opacity: 0.5;
    height: 3px;

    .progress-bar{
      opacity: 0.7;
      background-color: #1b1b1b;
      @include transition(none);
    }
  }

  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    @include translate(translate(-50%, -50%));
  }

  .carousel-indicators{
    display: none;
  }
}

//============================================================
// Page Header (Tablet)
//============================================================

@include mquery(tablet){

  .page-header{
    height: 40vw;

    .carousel{
      .carousel-inner{
        .item{
          img{
            height: 170%;
            top: 0;
            @include translate(translateX(-50%));
          }
        }
      }
    }

    .logo{
      top: 25%;
    }

    .carousel{
      .carousel-indicators{
        display: block;

        li{
          background-color: rgba(149,149,149, 0.4);
          border: none;
          width: 15px;
          height: 15px;
          margin: 0;
          position: relative;
          margin: 4px;
          margin-bottom: 0;

          .indicator-inner{
            position: relative;
            width: 9px;
            height: 9px;
            background-color: #FFF;
            border-radius: 1000px;
            margin-left: 3px;
            margin-top: 3px;
          }
        }


        li.active{
          .indicator-inner{
            background-color: #323232;
          }
        }
      }
    }
  }
}

@include mquery(desktop) {
  .page-header{
    max-height: 30em;

    .carousel{
      .carousel-inner{
        .item{
          img{
            height: 120%;
            top: 0;
            left: 50%;
            @include translate(translateX(-50%));
          }
        }
      }
    }
  }
};


@include mquery(b-desktop) {
  .page-header{
    .carousel{
      .carousel-inner{
        .item{
          img{
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
};
