.modal{

  overflow: hidden !important;
  width: 100%;

  .close-wrapper{
    position: absolute;
    right: 0;
    margin: 0;
    z-index: 10000;

    button{
      background-color: transparent;
      border: none;
      color: #848484;
      font-size: 2em;
      font-weight: 100;
      margin-right: 0.3em;
      margin-top: 0.4em;
      line-height: 0.67em;
    }

    button:after{
      content: "esc";
      display: block;
      font-size: 0.5em;
    }
  }

  .modal-dialog{
    width: 100%;
    margin: 0;
    border-radius: 0;
    margin-top: 0;
    height: 100%;

    .modal-content{
      height: 100%;
      box-shadow: none;
      border: none;
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
}

.modal-backdrop.in{
  opacity: 0;
  display: none;
}

@include mquery(tablet){
  .modal{
    width: calc(100% - 4em);
    margin-left: 4em;

    .modal-dialog{

      .modal-content{
        height: 100%;
        box-shadow: none;
        border: none;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.95);
      }
    }
  }
};
