//============================================================
// NAVBAR (Mobile)
//============================================================

.navbar{
  float: left;
  position: fixed;
  margin: 0;
  top: 0;
  height: 100%;
  background-color: $nav-bkg-color;
  border-radius: 0;
  border: none;
  z-index: 10000;

  //============================================================
  // HEADER (icon)
  //============================================================

  .navbar-header{
    position: absolute;
    margin-left: 100%;

    .navbar-toggle{
      display: inline-block;
      margin: 5px;
      float: left;
      padding: 0;
      z-index: 100;

      .icon-bar{
        background-color: #FFF;
        margin-left: 10px;
        height: 4px;
        width: 35px;
        border-radius: 0px;

        @include transform-origin(0 50%);
        @include transition(all 0.2s cubic-bezier(.87,-.81,.19,1.84));
      }

      span:nth-child(2) {
        @include rotateAndSkew(55deg ,-35deg);
      }

      span:nth-child(3) {
        opacity: 0;
      }

      span:nth-child(4) {
        @include rotateAndSkew(-55deg ,35deg);
        margin-top: 16.5px;
      }
    }

    .navbar-toggle.collapsed{
      .icon-bar{
        @include rotate(0deg);
        margin-top: 4px;
        margin-left: 0;
        height: 6px;
        opacity: 1;
        border-radius: 100px;
      }
      .icon-bar:nth-child(2){
        margin-top: 0;
      }
    }

    .navbar-toggle:hover{
      .icon-bar{
        background-color: #EEE;
      }
    }
  }

  //============================================================
  // NAVBAR CAT
  //============================================================


  #bs-example-navbar-collapse-1.navbar-collapse{
    overflow-y: scroll;
    height: 80% !important;
    margin-left: -20em;
    display: block;
    padding: 0;

    @include transition(all 0.3s);

    .nav-top, .nav-cat{

      margin: 0 0.5em;
      padding: 1.4em 0;
      box-sizing: content-box;

      li{
        position: relative;
        cursor: pointer;

        @include transition(all 0.2s);
      }

      li > * {
        display: inline-block;
        float: left;
      }
      li > .icon{
        box-sizing: content-box;
      }

      li > a {
        font-size: 1.3em;
        min-width: 12em;
        font-weight: 100;
      }

      li > a {
        background-color: transparent;
      }

      li > a:hover{
        background-color: rgba(0,0,0,0);
      }

    }

    .nav-top{

      border-bottom: solid 2px darken($nav-font-color, 40%);

      li > a {
        color: $nav-font-color;
      }

      li:hover{
        opacity: 0.5;
      }

      .search-icon{
        @include sprite($nav-icons-search-icon);
      }

      .faq-icon{
        @include sprite($nav-icons-faq-icon);
      }
    }

    .nav-cat{
      li > a {
        color: #FFF;
      }

      li:hover{

      }

      // NAV ICONS LOOP
      $animal_array: $nav-icons-dog-icon $nav-icons-cat-icon $nav-icons-fish-icon $nav-icons-bird-icon $nav-icons-small-animals-icon;
      $animal_c_array: $nav-icons-dog-icon-c $nav-icons-cat-icon-c $nav-icons-fish-icon-c $nav-icons-bird-icon-c $nav-icons-small-animals-icon-c;
      $animal_color_array: $dog-color $cat-color $fish-color $bird-color $small-animals-color;

      @each $current-animal in $animal_array {
          $i: index($animal_array, $current-animal);

          li:nth-child( #{$i} ) > .icon {
            @include sprite( nth($animal_array, $i) );
          }

          li:nth-child( #{$i} ):hover > .icon {
            @include sprite( nth($animal_c_array, $i) );
          }
          
          li:nth-child( #{$i} ).active > .icon {
            @include sprite( nth($animal_c_array, $i) );
          }

          li:nth-child( #{$i} ):hover > .icon + a{
            color: nth($animal_color_array, $i);
          }

      }
    }

  }

  .logo a{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    background-color: $nav-bkg-color;
    color: $nav-font-color;
    text-transform: uppercase;
    font-family: $gotic-font-light ;
    font-size: 0.8em;
    text-decoration: none;
    opacity: 0;

    @include transition(all 0.3s);
  }
  .logo a:hover{
    color: darken($nav-font-color, 20%);
  }

  #bs-example-navbar-collapse-1.navbar-collapse.collapse.in{
    height: 80% !important;
    margin-left: 0;
  }

  #bs-example-navbar-collapse-1.navbar-collapse.collapse.in + .logo a{
    opacity: 1;
  }

}

//============================================================
// NAVBAR (Tablet)
//============================================================

@include mquery(tablet){
  .navbar{
    position: fixed;
    height: 100vh;
    overflow: hidden;

    //============================================================
    // HEADER (icon)
    //============================================================

    .navbar-header{
      margin-left: 0;
      width: $nav-bar-width;
      height: $nav-bar-width - 0.5em;
      position: relative;
      float: none;
      background-color: $nav-menu-bkg-color;
      @include transition(all 0.2s);

      .navbar-toggle.collapsed, .navbar-toggle{
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);

        span.icon-bar{
          width: 28px;
          height: 5px;
          @include rotate(0deg);
          margin-top: 4px;
          margin-left: 0;
          opacity: 1;
          border-radius: 100px;
        }

        span:nth-child(2){
          margin-top: 0;
        }
      }
    }
    .navbar-header:hover{
      background-color: darken($nav-menu-bkg-color, 40%);
    }

    //============================================================
    // NAVBAR CAT
    //============================================================
    #bs-example-navbar-collapse-1.navbar-collapse{
      margin-left: 0;
      width: 4em;
      box-shadow: none;

      .nav-top, .nav-cat{
        position: relative;
        float: none;
        margin: 0;

        li{
          position: relative;
          display: block;
          float: left;
          width: 100%;
        }

        li > .icon{
          margin: 0.4em 0 0.4em 0.65em;
        }

        li > a {
          opacity: 0;
          min-width: auto;
          position: absolute;
          white-space: nowrap;
          line-height: 1.6em;
          @include transition(all 0.5s);
        }
      }

      .nav-top{
        li.active{
          background-color: #FFF;
        }
      }
    }
    #bs-example-navbar-collapse-1.navbar-collapse.collapse.in{
      width: 15em;

      li > .icon{
        position: relative;
      }

      li > a {
        opacity: 1;
        display: inline-block;
      }
    }

    #bs-example-navbar-collapse-1.navbar-collapse.collapse.in + .logo a > span{
      opacity: 1;
    }


    .logo a {
      margin-left: 0.07em;
      @include transition(all 0.5s);
      opacity: 1;
    }

    .logo a > span{
      opacity: 0;
    }
  }
}

@include mquery(desktop){
  .navbar{
    //============================================================
    // NAVBAR CAT
    //============================================================
    #bs-example-navbar-collapse-1.navbar-collapse{
      .nav-top, .nav-cat{
        li > a {
          line-height: 1em;
        }
      }
    }
  }
}
