//============================================================
// Newsletter (Mobile)
//============================================================

.newsletter{
  margin-left: -7px;
  margin-right: -7px;
  margin-bottom: 1.5em;
  background-color: #5f5f5f;

  .newsletter-banner{
    background-image: url('../img/pattern-newsletter.jpg');
    padding: 0.8em 7px 0.5em 7px;
    font-family: $gotic-font-regular;
    text-align: center;

    p{
      margin-bottom: 0;
      margin-top: 1.3em;

      font-family: $gotic-font-light;
    }
  }

  .newsletter-form-wrapper{
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 1.5em;

    h3{
      font-size: 1.3em;
      font-weight: 100;
      margin-bottom: 0.2em;
    }

    p{
      color: #cecece;
    }

    form{

      .form-group{
        .form-control{
          border: solid 2px #9a9a9a;
          border-radius: 0;
          padding: 1.3em 1em;

          @include placeholder{
            color: #2b2b2b;
          };
        }

        .btn{
          position: absolute;
          top: 0;
          right: 15px;
          height: 100%;
          border: none;
          border-radius: 0;
          background-color: #323232;
          color: #FFF;
          text-transform: uppercase;
        }
      }
    }
  }
}

//============================================================
// Newsletter (tablet)
//============================================================

@include mquery(tablet){
  .newsletter{

    height: 12em;

    .newsletter-banner{
      float: left;
      height: 100%;
      width: 100/12*5*1%;
      padding-top: 3em;

      h2{
        font-size: 1.5em;
      }
    }

    .newsletter-form-wrapper{
      float: left;
      height: 100%;
      width: 100/12*7*1%;
      padding: 1em 2em;
    }
  }
};
//============================================================
// Newsletter (desktop)
//============================================================
@include mquery(desktop){
  .newsletter{

    height: 14em;

    .newsletter-banner{
      width: 100/12*8*1%;

    }

    .newsletter-form-wrapper{
      width: 100/12*4*1%;
    }
  }
};


@include mquery(b-desktop){
    .newsletter{
      height: 12em;
    }
};
