.search-field{

  .break-icon{
    @include sprite($faq-icons-break-icon);
    zoom: 0.4;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 37em;
    display: none;
  }

  .search-icon{
    @include sprite($faq-icons-search-icon);
    zoom: 0.4;
    top: 50%;
    @include translate(translateY(-50%));
  }

  .icon{
    position: absolute;
  }

  .form-control{
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: solid 3px #535353;
    border-radius: 0;
    font-size: 1.4em;
    padding: 1.5em 2em;

    @include placeholder{
      color: #535353;
    };
  }

  .clear-btn-wrapper{
    text-align: right;

    button{
      border: none;
      background-color: transparent;
      font-size: 1.2em;
      color: #535353;
    }
  }

}

@include mquery(tablet){
    .search-field{
      .break-icon{
        display: inline-block;
      }
    }
};
