
/**
 * @license
 * MyFonts Webfont Build ID 3327044, 2017-01-04T08:19:00-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Choplin-ExtraLight-DEMO by Rene Bieder
 * URL: http://www.myfonts.com/fonts/rene-bieder/choplin/extra-light-demo/
 *
 * Webfont: Choplin-Medium-DEMO by Rene Bieder
 * URL: http://www.myfonts.com/fonts/rene-bieder/choplin/medium-demo/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3327044
 * Licensed pageviews: Unlimited
 * Webfonts copyright: Copyright &#x00A9; 2014 by Ren&#x00E9; Bieder. All rights reserved.
 *
 * © 2017 MyFonts Inc
*/





@font-face {font-family: 'Choplin-ExtraLight-DEMO';src: url('../fonts/32C444_0_0.eot');src: url('../fonts/32C444_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/32C444_0_0.woff2') format('woff2'),url('../fonts/32C444_0_0.woff') format('woff'),url('../fonts/32C444_0_0.ttf') format('truetype');}


@font-face {font-family: 'Choplin-Medium-DEMO';src: url('../fonts/32C444_1_0.eot');src: url('../fonts/32C444_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/32C444_1_0.woff2') format('woff2'),url('../fonts/32C444_1_0.woff') format('woff'),url('../fonts/32C444_1_0.ttf') format('truetype');}
