$sprite-margin: (40 - 32) / 2;

$nav-icons-dog-icon-c: -0px -0px 32px 32px;
$nav-icons-small-animals-icon: -0px -40px 32px 32px;
$nav-icons-bird-icon-c: -0px -80px 32px 32px;
$nav-icons-bird-icon: -0px -120px 32px 32px;
$nav-icons-cat-icon-c: -0px -160px 32px 32px;
$nav-icons-cat-icon: -0px -200px 32px 32px;
$nav-icons-search-icon: -0px -240px 32px 32px;
$nav-icons-dog-icon: -0px -280px 32px 32px;
$nav-icons-faq-icon: -0px -320px 32px 32px;
$nav-icons-fish-icon-c: -0px -360px 32px 32px;
$nav-icons-fish-icon: -0px -400px 32px 32px;
$nav-icons-small-animals-icon-c: -0px -440px 32px 32px;
$home-icons-information: -0px -480px 64px 52px;
$home-icons-bird-icon-c: -0px -540px 64px 64px;
$home-icons-bird-icon: -0px -612px 64px 64px;
$home-icons-cat-icon-c: -0px -684px 64px 64px;
$home-icons-cat-icon: -0px -756px 64px 64px;
$home-icons-dog-icon-c: -0px -828px 64px 64px;
$home-icons-dog-icon: -0px -900px 64px 64px;
$home-icons-fish-icon-c: -0px -972px 64px 64px;
$home-icons-fish-icon: -0px -1044px 64px 64px;
$faq-icons-break-icon: -0px -1116px 64px 64px;
$home-icons-small-animals-icon-c: -0px -1188px 64px 64px;
$faq-icons-search-icon: -0px -1260px 64px 64px;
$home-icons-small-animals-icon: -0px -1332px 64px 64px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: (nth($sprite, 1) - $sprite-margin);
  $sprite-offset-y: (nth($sprite, 2) - $sprite-margin);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: inline-block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  line-height: sprite-height($sprite);
  padding: 1px;
  background-origin: content-box;
  overflow: visible;
}

.icon {
  background-image: url('../img/sprite.png');
  background-size: 72px 1404px;
}
